.bigRedFont {
  color: #ff0000;
  font-size: 30px;
}

.blueFont {
  color: #0000ff;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 500px;
  background-position: center;
  margin-bottom: 25px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.hero .header {
  font-size: 32px;
  text-align: center;
}

.portrait {
  display: block;
  max-width: 300px;
  width: 100%;
  margin: 0 auto 16px;
}

.gamePicture {
  display: block;
  width: 100%;
  margin: 0 auto 16px;
  margin-bottom: 10px;
  background-repeat: no-repeat;
  background-size: contain;
}

.gameContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.gameTitle {
  min-height: 64px;
}

.gameHolder {
  width: 150px;
  margin-bottom: 30px;
  border-bottom: solid 1px #000;
  min-height: 363px;
  cursor: pointer;
}

.gameImage {
  min-height: 250px;
  margin-bottom: 10px;
  background-repeat: no-repeat;
}

.briefRating {
  font-size: 9px;
  margin-bottom: 10px;
}

.briefDes {
  margin-bottom: 10px;
}

.form {
  padding: 8px;
  margin: auto;
  max-width: 400px;
}

.formField {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 16px;
  max-width: 400px;
}

.formField label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 16px;
}

.formField input {
  font-size: 16px;
  padding: 12px;
  margin-bottom: 16px;
  font-family: Roboto Slab;
}

.formField textarea {
  font-size: 16px;
  padding: 12px;
  max-width: 376px;
  height: 105px;
  min-height: 21px;
  max-height: 210px;
  font-family: Roboto Slab;
  resize: vertical;
}