* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
html,
body {
    /* height: 100%; */
    font-family: Roboto Slab;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 16px;
}

.app {
    padding-top: 25px;
    max-width: 1000px;
    width: 85%;
    margin: auto;
}
  
/* The pagescroll is made to keep the scrolling bar of the page's content out of the nav bar that is at the top. */
.pagescroll {
    width: 100%;
    margin-top: 50px;
    margin: 50px auto auto;
    overflow-y: auto;
    /* The height is calulated to be the full height of the device's screen, minus 50px to compensate for the nav bar at the top. */
    height: calc(100vh - 50px);
}