@media screen and (max-width: 960px) {
  .navHolder {
    flex-wrap: wrap;
  }
  .bars {
    display: block;
  }

  .logo {
    margin-top: 10px;
  }

  .links {
    height: 0;
    opacity: 0;
    flex-direction: column;
  }

  .links.active {
    display: flex;
    height: 100vh;
    opacity: 1;
  }
  .formContainer {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 369px) {
  .gameContainer {
    justify-content: center;
  }
  .gameTitle {
    min-height: auto;
  }
}